*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main{
    /* border: 5px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background: #F8EDE3;
    height: 100vh;
}

.image-container{
    width: 33%;
    /* border: 5px solid yellow; */
    position: relative;
}

#image{
    object-fit: fill;
    width: 500px;
    /* margin: auto; */
}

.arrow{
    width: 50px;
    /* background-color: black; */
    /* col/or: rgb(234, 3, 3); */
}

#left{
    position: absolute;
    top: 130px;
    left: -20px;
    
}

#right{
    position: absolute;
    top: 130px;
    right:-20px ;
}